<div class="modal fade" tabindex="-1" id="dish-<%= dish.id%>" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= dish.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card dish-card">
					<%= link_to dish_path(dish) do %>
							<%if dish.images.length > 0 %>
								<%= image_tag dish.images[0].image.to_s, class: 'dish-image' %>
							<% else %>
								<%= image_tag "home-2.jpeg", class: 'dish-image' %>
							<% end %>
					<% end %>
						<div class="dish-name dish-details"><%= dish.name %></div>
						<div class="dish-price dish-details"><%= dish.price %></div>
          <div class="card-body">  
  					<div class="card-text dish-description">
  						<%= dish.description %>
  					</div>
          </div>
				</div>
      </div>
      <div class="modal-footer">
      	<%= link_to "Close","#",:class => 'btn btn-danger',:data=>{dismiss:"modal"} %>
      </div>
    </div>
  </div>
</div> 
