<div class="container-fluid form">
  <%= image_tag ("/assets/ruby.jpeg"), class: "img-fluid"%>
  <div class="row index" style="margin-left:2px">
    <h2 class="label label-info" style="margin-left:20px"   size="lg">
      Articles
    </h2>
  </div>
  <div class="row article-link" style="margin-left:2px">
    <%= link_to 'Create Article',new_article_url, class: "btn btn-success", style: "margin-left:20px" %>
  </div>
  <table class="table table-bordered table-striped">
    <thead>    
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Image</th>
        <th>Published</th>
        <th>Actions</th>
      </tr>
     </thead>
    <tbody> 
      <% @articles.each do |article| %>
        <tr>
          <td class="title">
            <%= link_to article.name, article_path(article) %>
          </td>
          <td> 
            <% if article.description.length > 150 %>
             <span style="width:360px;overflow:'hidden'"> 
              <%= article.description%>
             </span>
              <%= link_to 'more',article_path(article) %>
             <% else %>
               <%= article.description %>
            <% end %>
          </td>
           <td><%= article.category_id %></td>
           <td class="art-img">
            <img  src="<%= article.image %>" alt="Snow" style="width:100%;max-width:300px" id="myImg" class="post-img">
            <div id="myModal" class="modal img-pop">
              <span class="close img-close" id="close">
                &times;
              </span>
              <img class="modal-content img-content" id="img1">
            </div>
           </td>
           <td>
              <%= is_published(article.published) %>
           </td>
           <td class="art-actions">
            <%= link_to 'Show', article_path(article), class: "btn btn-success" %>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-warning" %>
            <%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{article.id}",:class=>'btn btn-danger'%>
            <div class="modal fade" id="delete-<%= article.id %>" 
              tabindex="-1" role="dialog"  aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      confirmation Box
                    </h5>
                    <button type="button" class="close"  data-dismiss="   modal" aria-label=" Close">
                      <span aria-hidden="true">
                        &times;
                      </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure to delete this article?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default"        data-dismiss="modal">
                      No
                    </button>
                    <%= link_to 'Yes', delete_article_path(article), method: :delete, :class => 'btn btn-danger'%>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

 